{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <title>Image Upload</title>
    <style>
        .image {
            background-image: url("{{ obj.img.url }}");
        }
    </style>
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <div class="container" style="width: 500px;">
        <div class="alert alert-{{message.tags }} mt-5">
            <strong>{{message.tags }} </strong>{{message}}
        </div>
    </div>
    {% endfor %}
    {% endif %}


    <div class="container mt-5 shadow-lg p-3 rounded-3">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file">No file chosen</label>
            {{form.file}}
            <button type="submit">upload</button>
        </form>
    </div>
    <div class="image">
    </div>
    <div class="image-info text-center">
        <h5 id="image-size">{{size}}</h5>
        <h5 id="image-dimentions">{{dimentions}}</h5>
        <h3></h3>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>